
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isGlobalAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'ananas@kidalovo.internal' || 
        request.auth.uid == 'TTw3ZuEvyXerRBc7jr90PESYdcy1' ||
        request.auth.uid == 'Csr3hpbOWPbbcdP72cOKHp51NOa2'
      );
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isGlobalAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    match /rooms/{roomId} {
      // Разрешаем чтение и запись всем авторизованным (включая анонимов)
      allow read, write: if isSignedIn();

      match /messages/{messageId} {
        allow read, write: if isSignedIn();
      }
      
      match /file_chunks/{fileId}/chunks/{chunkId} {
        allow read, write: if isSignedIn();
      }

      match /drawings/{drawingId} {
        allow read, write: if isSignedIn();
      }
    }
  }
}
